include README.rst
include greenPipes/rscripts/*
include greenPipes/otherScripts/*
include greenPipes/otherScripts/*/*
include greenPipes/otherScripts/*/*/*
include greenPipes/otherScripts/*/*/*/*
include greenPipes/data/*
include greenPipes/data/*/*
